div(data-role="popup", id="cannotDownloadDialog", data-overlay-theme="e", data-theme="e", data-dismissible="false", class="progress-bar ui-corner-all")
    div(data-role="header", data-theme="e", class="ui-corner-top")
        h1 Could not download file.
    div(data-role="content", data-theme="e", class="ui-corner-bottom")
        h3.ui-title Could not download file.
        p This file cannot be downloaded from the server. Please try again later.
            a(href="#", data-role="button", data-inline="true", data-rel="back", data-theme="e")=Ok
