div(data-role="popup", id="progress-dialog", data-overlay-theme="a", data-theme="a", data-dismissible="false", class="dialog-popup ui-corner-all")
    div(data-role="header", data-theme="a", class="ui-corner-top")
        h1=Downloading
    div(data-role="content", data-theme="a", id="progress-bar", class="ui-corner-bottom")
