/*** Global Settings ***/
html {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #fff;
    background-color: #000000;
}
.landscape, .landscape .ui-page, .portrait, .portrait .ui-page {
    min-height: 100%;
}
h2 {
    background-color: rgb(77, 77, 77);
    padding: 8px;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
}
div p:first-child {
    margin-top: 0;
}
p {
    padding: 10px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
}
.ui-page {
    padding: 0;
}
.ui-grid-e {
    overflow: hidden;
}
.ui-grid-a > .ui-block-a {
    overflow: auto;
    height: 100%;
}
.ui-grid-a > .ui-block-b {
    overflow: auto;
    height: 100%;
}
.ui-grid-e > .ui-block-a {
    width: 40%;
    overflow: auto;
    height: 100%;
}
.ui-grid-e > .ui-block-b {
    width: 60%;
    overflow: auto;
    height: 100%;
}

/*** Main Page ***/
.ui-body h2 {
    margin: 0;
}
.logo {
    background-color: white;
    padding: 1em;
}
.logo img {
    width: 100%;
}
.ui-main {
    padding: 0;
}
.item.frontpage {
    padding: 0px;
    float: right;
    width: 230px;
    height: 230px;
    margin: 58px 0px 0px 10px;
}

/*** Main structure layout ***/
.ui-text .ui-body {
    font-size: small;
    font-weight: lighter;
    text-align: justify;
    color: white;
    border: none;
    background-color: transparent;
}
.ui-column-left {
    display: inline-block;
    width: 100%;
/*    height: 100%;*/
}
.ui-column-right {
    display: inline-block;
/*    height: 100%;*/
    width: 100%;
}
.ui-block-a {
    min-height: 100%;
}

/*** Header and Footer ***/
.ui-header, .ui-footer {
    border: none;
}
.ui-header .ui-btn-icon-notext {
    height: 1.35em;
}
.ui-page .ui-header h1.ui-title {
    font-size: 3em;
    margin: 0;
    padding: 6px 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}
.ui-footer .ui-grid-a {
    padding: 8px;
}
.ui-header .controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

/*** Page themes ***/
.ui-page-theme-a .ui-header.color-0 {
    background-color: rgb(111, 124, 178);
    background-color: rgba(111, 124, 178, 0.7);
}
.ui-page-theme-a .ui-header.color-1 {
    background-color: rgb(89, 160, 68);
    background-color: rgba(89, 160, 68, 0.8);
}
.ui-page-theme-a .ui-header.color-2 {
    background-color: rgb(215, 8, 97);
    background-color: rgba(215, 8, 97, 0.8);
}
.ui-page-theme-a .ui-header.color-3 {
    background-color: rgb(48, 136, 130);
    background-color: rgba(48, 136, 130, 0.8);
}
.ui-page-theme-a .ui-header.color-4 {
    background-color: rgb(166, 185, 37);
    background-color: rgba(166, 185, 37, 0.8);
}
.ui-page-theme-a .ui-header.color-5 {
    background-color: rgb(205, 47, 37);
    background-color: rgba(205, 47, 37, 0.8);
}
.ui-page-theme-a .ui-header.color-6 {
    background-color: rgb(61, 153, 193);
    background-color: rgba(61, 153, 193, 0.8);
}
.ui-page-theme-a .ui-header.color-7 {
    background-color: rgb(53, 116, 51);
    background-color: rgba(53, 116, 51, 0.8);
}
.ui-page-theme-a .ui-header.color-8 {
    background-color: rgb(245, 127, 24);
    background-color: rgba(245, 127, 24, 0.8);
}

.background-main {
    background-image: url('../images/breakfast.jpg');
}
.background-0 {
    background-image: url('../images/locust-swarm.jpg');
}


/*** Item Lists ***/
.item {
    color: #fff;
    margin: 8px 0px 12px 0px;
    padding: 16px;
    color: #333;
    width: 90%;
    float: right;
    background-color: white;
}
.item-container .item {
    background-color: white;
}
.item-container.featured .item {
    background-color: #444;
    color: white;
}
.item h3 {
    margin: 0;
}
.description-image {
    padding: 0px;
    float: right;
    margin: 15px 0px 0px 10px;
}
.description-image img {
    width: 200px;
}
.item.frontpage h3,
.description-image h3 {
    padding: 18px;
    text-align: center;
}
.item-description {
    display: none;
}
.item-description .item {
    width: 100%;
    float: none;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-right: 20px solid white;
    float: right;
    margin: 8px 0px 12px 0px;
    display: none;
}
.featured .arrow-left {
    border-right-color: #444;
}

/**     NAVIGATION     **/
.ui-content .ui-listview {
    margin: 0;
}
.ui-content .ui-listview li {
    margin: 0.75em 0;
}
.ui-content .ui-listview li a {
    border: none;
    font-size: 18px;
}
.ui-content .ui-listview li > .color-0 {
    background-color: rgb(111, 124, 178);
    background-color: rgba(111, 124, 178, 0.8);
}
.ui-content .ui-listview li > .color-1 {
    background-color: rgb(89, 160, 68);
    background-color: rgba(89, 160, 68, 0.8);
}
.ui-content .ui-listview li > .color-2 {
    background-color: rgb(215, 8, 97);
    background-color: rgba(215, 8, 97, 0.8);
}
.ui-content .ui-listview li > .color-3 {
    background-color: rgb(48, 136, 130);
    background-color: rgba(48, 136, 130, 0.8);
}
.ui-content .ui-listview li > .color-4 {
    background-color: rgb(166, 185, 37);
    background-color: rgba(166, 185, 37, 0.8);
}
.ui-content .ui-listview li > .color-5 {
    background-color: rgb(205, 47, 37);
    background-color: rgba(205, 47, 37, 0.8);
}
.ui-content .ui-listview li > .color-6 {
    background-color: rgb(61, 153, 193);
    background-color: rgba(61, 153, 193, 0.8);
}
.ui-content .ui-listview li > .color-7 {
    background-color: rgb(53, 116, 51);
    background-color: rgba(53, 116, 51, 0.8);
}
.ui-content .ui-listview li > .color-8 {
    background-color: rgb(245, 127, 24);
    background-color: rgba(245, 127, 24, 0.8);
}
.ui-content .ui-listview .ui-first-child {
    margin-top: 0;
    border-top: none;
}
.ui-content .ui-listview .ui-last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > .ui-btn {
    border: none;
    text-align: right;
    text-transform: uppercase;
    padding: 1em 2.5em;
}
.ui-input-text, .ui-input-search {
    border: none;
}

/*** Download dialogs ***/
.dialog-popup {
    min-width: 270px;
}
.dialog-popup .progress-bar {
    width: 105px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
}
.dialog-popup h1 {
    color: #fff;
    text-align: center;
}
.dialog-popup .content {
    padding: 15px;
}
.jCProgress {
    position: absolute;
    z-index: 9999999;
    /*  margin-top:-15px; /* offset from the center */
}
.jCProgress > .percent {
    font: 18px/27px'BebasRegular', Arial, sans-serif;
    color: #ebebeb;
    text-shadow: 1px 1px 1px #1f1f1f;
    position: absolute;
    margin-top: 40px;
    margin-left: 22px;
    text-align: center;
    width: 60px;
}

/*** Search Page ***/
#results h2 {
    margin: 5px 2px;
}

/*** Search Box ***/
.ui-header .ui-input-search {
    margin: 0 1em;
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}
.ui-header form {
    margin: 0;
}
.ui-header .ui-input-search {
    display: none;
}

/*** Glossary ***/
#glossary-popup {
    height: 450px;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}

#glossary-popup #glossary-table {
    height: 400px;
    overflow: auto;
}

#glossary {
    padding-bottom: 20px;
    background-color: #202020;
}

#glossary-table td {
    padding: 10px;
}

#glossary-table td:first-child {
    min-width: 30%;
    width: 30%;
    border-right: solid 1px;
}
