div(data-role="page", data-theme="a", id="about")
    include header.jade
    div(data-role="content", data-theme="a", id="about", class="ui-text")
        div(class="ui-body")
            h2 About
            p
                i The textbook of the future: a free, evolving, searchable and accessible collection of curated material about Collective Adaptive Systems at your fingertips.
            p The FoCAS app is a knowledge base about Collective Adaptive Systems (CAS). What is a CAS? Is a colony of bees a CAS? Is the internet a CAS? How can you build a CAS from a bunch of robots? Can a CAS learn? Are they dangerous? What can I do with them? The app answers these and many other questions through a collection of papers, movies, presentations, demos, tutorials and references.
            p Whether you’re a student looking for a definition, a researcher trying to widen your understanding of CAS research or just want to know a bit more about CASs, the material in the app will help you find out what you need.
            p This app allows you to have material ranging from introductory descriptions to cutting edge research papers available anytime, anywhere.
            label Features:
            ul
                li It’s free!
                li Searchable
                li Material curated by experts
                li Content regularly updated
                li Includes demos, tutorials, videos, etc.
    include footer.jade
