div(data-role="footer", data-id="footer", data-position="fixed", data-tap-toggle="false", data-theme="a")
    p FoCAS is a Future and Emerging Technologies Proactive Initiative, funded by the European Commission under FP7
