div(data-role="footer", data-id="footer", data-position="fixed", data-tap-toggle="false", data-theme="a")
    div.ui-grid-a
        div(class="ui-block-a ui-alt-icon")
            form(name="search-form", method="get", class="search", data-ajax="false")
                input(type="search", name="search", class="search-basic", value="", placeholder="Search...")
    div.ui-block-b