div(data-role="popup", id="glossary", class="ui-content", data-theme="a")
    form(class="ui-filterable")
        input(data-type="search", id="glossary-search")
    table(class="ui-responsive", data-filter="true", data-input="#glossary-search")
        thead
            tr
                th(data-priority="persist")
                th(data-priority="none")
        tbody
            tr
                td Cyber-physical systems
                td A system of collaborating computational elements controlling physical entities.
            tr
                td Collective robotics
                td Systems in which many robots work as one team, group or swarm to achieve a common goal or global behaviour
            tr
                td Autonomic computing systems
                td Computing systems that are able to manage themselves autonomously according to an administrator’s goal.
            tr
                td Smart City
                td An urban environment characterised by a set of information and communication technology infrastructures enabling efficient usage of shared resources and advanced services to individuals and communities.
            tr
                td Socio-technical systems
                td Large-scale, technology-intensive distributed systems involving collectives of heterogeneous (human and machine) elements, characterized by a deep integration of technological and social aspects.
