div(data-role="header", data-id="header",data-position="fixed", data-tap-toggle="false", data-theme="a")
    a(href="#main-page", data-corners="false",  data-iconpos="notext", data-theme="a", data-icon="home", title="Home", class="ui-nodisc-icon")
        span.ui-btn-text= Home
    span.ui-title
    a(href="#about", data-mini="true") About
