div(data-role="page" data-theme="a" id="main-page")
    include header.jade
    div(role="main" data-role="content" data-form="ui-page-theme-a" class="ui-main main-content")
        div(class="header")
            div(class="ui-grid-a")
                div(class="ui-block-a")
                    div(class="ui-text ui-column-left")
                        div(class="logo")
                            img(src="images/focas-web-logo.png")
                        div(class="ui-body ui-body-a")
                            h2 Preface
                            p This App is a collective adaptive textbook on Collective Adaptive Systems. It is collective, because it is based on the contributions of a group of experts. It is adaptive, because its contents are not finalized, but are continually extended and adjusted. In Section X you can find information on how you can become a contributor.</p>
                            p Why then, is this a textbook? Although the form of this App is unconventional for a textbook, its function is the usual one: it provides an introduction to a scientific / technical field called Collective Adaptive Systems (CAS). The target audience includes students, PhD students and researchers in all areas that are concerned with some aspects of CAS. Inherently to the novel form, this textbook is not finalized because it is constantly evolving.
                            p This App offers contents of various types and levels. Content types include scientific publications, presentations, tutorials, videos, interactive demo software, and links to miscellaneous external material, such as books or relevant websites. Importantly, the whole content of the App is not loaded immediately, but is retrieved from the Internet as you go. This ensures that local copies do not become unnecessarily big, but it implies that an Internet connection is necessary for optimal usage.
                            div(data-file="focas-promo-film.mp4", data-id="focas-promo-film", class="item video")
                                h3 Focas Promotional Film
                div(class="ui-block-b", id="navigation")
    include footer.jade