div(data-role="page", data-theme="a", id="pdf")
        include header.jade

        div(data-role="header", data-add-back-btn="true")
            span(class="ui-title")
        div(data-role="content", data-theme="a", id="pdf-embed", class="main-content")
            object(id="pdf-object", data="", type="application/pdf")

        include footer.jade