div(data-role="popup", id="progress-dialog", data-overlay-theme="b", data-theme="b", data-dismissible="false", class="dialog-popup", data-history="false")
    div(data-role="header", data-theme="b")
        h1(data-role="title") Downloading
    div(data-role="content", data-theme="b", id="progress-bar", class="progress-bar ui-content")

div(data-role="popup", id="cannot-download-dialog", data-overlay-theme="e", data-theme="e", data-dismissible="false", data-history="false")
    div(data-role="header", data-theme="e")
        h1(data-role="title") Could not download file.
    div(data-role="content", data-theme="e", class="ui-content")
        p This file cannot be downloaded from the server. Please try again later.
        a(data-role="button", data-rel="back", data-theme="e") Ok

