div(data-role="page", data-theme="a", id="search-page")
    include header.jade

    div(data-role="content", data-theme="a", id="search-overview", class="ui-main ui-text")
        div(data-role="content", data-theme="a", class="ui-text")
            form(name="search-form", method="get", class="search", data-ajax="false")
                input(type="search", name="search", id="search-search", value="", placeholder="Search...", maxlength="32")

        div(id="results", class="ui-grid-e")

    include footer.jade
