div.ui-column-right
    ul(data-role="listview")
        for category, index in categories
            li
                a(class="color-"+category.color, href="#"+category.id, data-role="link")= category.name
