include ../includes/mixins/description.jade
include ../includes/mixins/itemButton.jade

for page in pages
    div(class="background-"+page.color data-role="page", data-theme="a", id=page.id, data-title=page.name)
        include ../includes/header.jade

        div.header(data-role="header" role="banner" class=page.id+" color-"+page.color)
            h1= page.name
        div(class="ui-main" data-role="content" role="main")
            div.ui-grid-e
                div.ui-block-a
                    div.ui-text.ui-column-left
                        div.ui-body
                            div.page-description.description-active
                                !=page.description
                            for item, index in page.items
                                +description(item, false)
                div(class="ui-block-b")
                    div.ui-grid-c
                        for item, index in page.items
                            if item.featured
                                +itemButton(item)
                        for item, index in page.items
                            if !item.featured
                                +itemButton(item)
        include ../includes/footer.jade
